.button_ui {
  cursor: pointer;

  padding: 15px 20px;

  border-radius: 43px;
  background: #50397F;

  font-family: Dela Gothic One;
  font-size: 24.21px;
  font-weight: 400;

  color: #FFF4F2;

  outline: none;
  border: none;

  transition: all .3s;

  &:hover {
    background: #6013F2;
  }
}