.my_tours {
  h3, p {
    font-family: Dela Gothic One;
    font-size: 40px;
    font-weight: 400;

    color: #FFF4F2;
  }
}

.my_tours_list {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;

  gap: 50px;
}
.my_tours_tour {
  display: flex;
  flex-direction: column;
  gap: 5px;

  span, h5 {
    font-family: Dela Gothic One;
    font-size: 40px;
    font-weight: 400;

    color: #FFF4F2;
  }

  span {
    font-size: 24px;
  }

  .my_tours_hotel {
    color: #270B61;
  }
}
.my_tours_city {
  width: 100%;
  height: 380px;

  .city_info {
    width: 100%;
    height: 100%;
  }
}

.my_tours_btn {
  font-family: Dela Gothic One;
  font-size: 15px;
  font-weight: 400;

  color: #270B61;

  background: #C9AEFF75;

  padding: 10px;
}