.city {
  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;

  .city_info {
    position: relative;

    width: 305px;
    height: 305px;

    border-radius: 36px;

    background: #50397F;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-radius: inherit;

      background: linear-gradient(180deg, rgba(186, 150, 255, 0) 58.69%, #270B61 100%);
    }

    .city_arrow {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    span {
      position: absolute;
      bottom: 17px;
      left: 50%;

      transform: translate(-50%, 0%);

      font-family: Dela Gothic One;
      font-size: 25.68px;
      font-weight: 400;

      color: #FFF4F2;
    }
  }

  .city_price {
    font-family: Dela Gothic One;
    font-size: 21px;
    font-weight: 400;

    color: #270B61;
  }
}