.city_trip {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 64px;
}

.city_trip_hotel {
  width: 100%;
  height: 526px;

  .city_info {
    width: 100%;
    height: 100%;

    span {
      left: 20px;

      transform: unset;
    }
  }
}

.city_trip_info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-family: Dela Gothic One;
    font-size: 45px;
    font-weight: 400;

    color: #fff;
  }
  p {
    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;

    color: #270B61;
  }
}
.city_trip_date_pay {
  display: flex;
  align-items: center;
  gap: 20px;
}
.city_trip_wrapper {
  padding: 15px 22px;

  border-radius: 18px;

  background: #C9AEFF75;

  font-family: Dela Gothic One;
  font-size: 16px;
  font-weight: 400;

  color: #270B61;
}
.city_trip_list {
  margin-bottom: 70px;
}