* {
  margin: 0;
}

a {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;

  color: #270B61;

  text-decoration: none;
}
body {
  overflow-x: hidden;
}


.main_layout {
  width: 1400px;
  padding-top: 200px;
  padding-bottom: 50px;

  margin: 0 auto;

}

.lock {
  opacity: .5;
  pointer-events: none;
}

.main_wrapper {
  width: 100vw;
  min-height: 100vh;
}

.copyright {
  position: fixed;
  bottom: 10px;
  left: 20px;

  display: flex;
  align-items: center;
  gap: 5px;

  font-family: "Dela Gothic One";
  font-size: 14px;
  font-weight: 400;

  color: #270B61;
}