.error_404 {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-family: Dela Gothic One;
    font-size: 45px;
    font-weight: 400;

    color: #FFF4F2;
  }
}